<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="index.html" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">HRMS</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="slimScrollDiv" style="
        position: relative;
        overflow: hidden;
        width: 100%;
        height: calc(-70px + 100vh);
      ">
      <div class="navbar-content scroll-div" style="overflow: hidden; width: 100%; height: calc(-70px + 100vh)">

        <ul class="nav pcoded-inner-navbar">
          <li data-username="Table bootstrap datatable footable" class="nav-item">
            <a routerLink="/home" class="nav-link">
              <span class="pcoded-micon"><i class="feather icon-server"></i></span>
              <span class="pcoded-mtext">Home</span>
            </a>
          </li>
          <li class="nav-item pcoded-menu-caption">
            <label>Navigation</label>
          </li>


          <li
            data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
            class="nav-item pcoded-hasmenu">
            <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i
                  class="feather icon-box"></i></span><span class="pcoded-mtext">Components</span></a>
            <ul class="pcoded-submenu">
              <li class="">
                <a routerLink="config/">Configuration</a>
              </li>
            </ul>
          </li>



          <li
            data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
            class="nav-item pcoded-hasmenu">
            <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i
                  class="feather icon-box"></i></span><span class="pcoded-mtext">Payroll</span></a>
            <ul class="pcoded-submenu">
              <li class="">
                <a routerLink="payroll/">All Payrolls</a>
              </li>
              <li class="">
                <a routerLink="payroll/payslip/">All Payslips</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>