<body>
    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
          <div class="pcoded-content">
              <div class="pcoded-inner-content">
    
                  <div class="main-body">
                      <div class="page-wrapper">
                          <!-- [ Main Content ] start -->
                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="card">
                                      <div class="card-header">
                                          <h5>Basic Componant</h5>
                                      </div>
                                      <div class="card-body">
                                          <h5>Form controls</h5>
                                          <hr>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <form  #addForm='ngForm'(ngSubmit)="add(addForm)" >

                                                      <div class="form-group">
                                                          <label for="exampleInputEmail1">Name :</label>
                                                          <input type="text" class="form-control" id="name"  name ="name"  ngModel #fn="ngModel" required placeholder="Tapez le nom">
                                                         
                                                      </div>
                                                      <div class="form-group">
                                                          <label for="capacite"> Date :</label>
                                                          <input type="date" class="form-control" id="date" name="date" ngModel #fn="ngModel" required placeholder="Date">
                                                      </div>
                                                      
                                                      <div class="form-group">
                                                        <label for="exampleInputEmail1">Duration :</label>
                                                        <input type="text" class="form-control" id="duration"  name ="duration"  ngModel #fn="ngModel" required placeholder="Tapez le nom">
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Shift">Shift</label>
                                                        <select class="form-control" id="shift" name="shift"  ngModel #fn="ngModel" required>
                                                            <option> DAY_ONLY</option>
                                                            <option> NIGHT_ONLY</option>
                                                            <option>BOTH_SHIFTS</option>
                                                            
                                                        </select>
                                                       </div>
                                                     
                                                      <button type="submit" class="btn btn-primary">Submit</button>
                                                  </form>
                                              </div>
  
                                          </div>
  
                                      </div>
                                  </div>
                                  <!-- Input group -->
                              </div>
                          </div>
                          <!-- [ Main Content ] end -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <script src="assets/js/vendor-all.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/pcoded.min.js"></script>
  
  </body>