/* month-table.component.css */

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  
  /* Month Navigation */
  .month-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .nav-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .nav-button:hover {
    background-color: #0056b3;
  }
  
  /* Employee Column */
  .employee-column {
    font-weight: bold;
  }
  
  /* Status Container */
  .status-container {
    display: flex;
    align-items: center;
  }
  
  /* Shift and Absence Buttons */
  .btn-primary {
    padding: 5px 12px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    filter: brightness(90%);
  }
  
  .btn-danger {
    padding: 5px 12px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .modal-body div {
    display: flex;
    align-items: left;
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  input[type="radio"] {
    margin-right: 10px; /* Adjust margin as needed */
  }
  
  .btn-danger:hover {
    filter: brightness(90%);
  }
  .modal-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-header {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
  }
  
  .modal-title {
    font-weight: bold;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .modal-footer {
    background-color: #f2f2f2;
    border-radius: 0 0 10px 10px;
    padding: 15px 20px;
    justify-content: space-between;
    border-top: 1px solid #ddd;
  }
  
  .modal-footer button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .modal-footer button:hover {
    background-color: #0056b3;
    color: #fff;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
  }
  
  .form-control:focus {
    border-color: #007bff;
    outline: none;
  }
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  tbody tr:nth-child(even) {
    background-color: #ffffff;
  }