



  <div class="content">
    <nav class="mb-2" aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active">Default</li>
      </ol>
    </nav>
    <div class="pb-6">
      <h2 class="mb-4">Roles</h2>
      <div id="tableExample3" data-list='{"valueNames":["name","privileges"],"page":5,"pagination":true}'>
        <div class="search-box mb-3 mx-auto">
            <div class="d-md-flex justify-content-between">
                <div><a href="/add" class="btn btn-primary me-4">
                    <svg class="svg-inline--fa fa-plus me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path>
                    </svg><!-- <span class="fas fa-plus me-2"></span> Font Awesome fontawesome.com -->Create Role</a></div>
              </div>
          <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input class="form-control search-input search form-control-sm" type="search" placeholder="Search" aria-label="Search" />
            <span class="fas fa-search search-box-icon"></span>
          </form>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm fs--1 mb-0">
            <thead>
              <tr>
                <th class="sort border-top ps-3" data-sort="name">Name</th>
                <th class="sort border-top" data-sort="email">privileges</th>
                <th class="sort text-end align-middle pe-0 border-top" scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody class="list">
                <tr *ngFor="let role of roles">
                    <td class="align-middle ps-3 name">{{ role.name }}</td>
                    <td class="align-middle privileges">
                        <ul>
                          <ng-container *ngIf="role.privileges && role.privileges.length > 0; else noPrivileges">
                            <li *ngFor="let privilege of role.privileges">{{ privilege.name }}</li>
                          </ng-container>
                          <ng-template #noPrivileges>
                            <li>No privileges</li>
                          </ng-template>
                        </ul>
                      </td>
                    <td class="align-middle white-space-nowrap text-end pe-0">
                      <div class="font-sans-serif btn-reveal-trigger position-static">
                        <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                          <span class="fas fa-ellipsis-h fs--2"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end py-2">
                          <a class="dropdown-item" href="#!">View</a>
                          <a class="dropdown-item" href="#!">Export</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item text-danger" href="#!">Remove</a>
                        </div>
                      </div>
                    </td>
                  </tr>
              
              
             
             
           
           
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between mt-3"><span class="d-none d-sm-inline-block" data-list-info="data-list-info"></span>
          <div class="d-flex"><button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
            <ul class="mb-0 pagination"></ul><button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
          </div>
        </div>
      </div>
      
      
      
    </div>
  </div>