.inactive {
    color: gray; /* Example style for inactive cells */
    /* Add any other styles you want for inactive cells */
  }
  .container-lg {
    max-width: 600px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the container horizontally */
  }