<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="calendar-container">
        <div cdkDropListGroup>
          <div class="example-container">
            <h2>To do ({{ numProjectsTodo }})</h2>

            <div
              cdkDropList
              [cdkDropListData]="todo"
              class="example-list"
              (cdkDropListDropped)="handleDrop($event, 'ON_HOLD')"
            >
              @for (project of todo; track project) {
              <div class="example-box" cdkDrag>
                <app-projectCard [project]="project"></app-projectCard>
              </div>
              }
            </div>
          </div>

          <div class="example-container">
            <h2>Done ({{ numProjectsDone }})</h2>

            <div
              cdkDropList
              [cdkDropListData]="done"
              class="example-list"
              (cdkDropListDropped)="handleDrop($event, 'RUNNING')"
            >
              @for (project of done; track project) {
              <div class="example-box" cdkDrag>
                <app-projectCard [project]="project"></app-projectCard>
              </div>
              }
            </div>
          </div>
          <div class="example-container">
            <h2>FINISHED ({{ numProjectsFinished }})</h2>

            <div
              cdkDropList
              [cdkDropListData]="finished"
              class="example-list"
              (cdkDropListDropped)="handleDrop($event, 'FINISHED')"
            >
              @for (project of finished; track project) {
              <div class="example-box" cdkDrag>
                <app-projectCard [project]="project"></app-projectCard>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
